@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* :root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
} */
body {
  font-family: Arial, sans-serif;
  background-color:azure;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid ghostwhite;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: paleturquoise;
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.nft-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nft-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.nft-card-content {
  padding: 15px;
}

.nft-card-content h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.nft-card-content p {
  margin: 0;
  color: #666;
}

.nft-card-content .price {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.nft-card-content button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: pink;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.nft-card-content button:hover {
  background-color:chocolate
}

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
}
